<head>
<title>Alarm Master</title>
</head>
<script>
function updatevar(idx)
{
  var req=new XMLHttpRequest();
  req.onreadystatechange = function(){
    if(this.readyState == 4 && this.status == 200){
      var data = JSON.parse(this.responseText);
      var i;
      for(i = 0; i<8; i++){
        document.getElementById("ip"+i).innerHTML = data.devices[i].ip;
        document.getElementById("uid"+i).innerHTML = data.devices[i].id;
        document.getElementById("temp"+i).innerHTML = data.devices[i].temperature;  
        document.getElementById("humid"+i).innerHTML = data.devices[i].humidity;
        document.getElementById("alarm"+i).innerHTML = data.devices[i].alarm;
      }
    }
  } 
  req.open("POST", "/setdevice")
  var ip = document.getElementById("ip"+idx).value;
  var uid = document.getElementById("uid"+idx).value;
  var data = { "idx":idx, "ip":ip, "id":uid };
  var jdata = JSON.stringify(data);
  req.send(jdata);
}
</script>
<body>
  <div>
    <h1>Alarms</h1>
    {% for device in devices %}
      <div>
        <tr>
          <td>IP: <input id="ip{{  device.idx  }}" type=text size=7 value ="{{ device.ip }}"></td>
          <td>id: <input id="uid{{  device.idx  }}" type=text size=1 value ="{{ device.id }}"></td>
          <td>temperature: <span id="temp{{  device.idx  }}">{{  device.temperature  }}</span></td>
          <td>humidity: <span id="humid{{  device.idx  }}">{{  device.humidity  }}</span></td>
          <td>status: <span id="alarm{{  device.idx  }}">{{  device.alarm  }}</span></td>
          <button id="btn{{  device.idx  }}" onclick="updatevar({{ device.idx }})">Update</button>
        </tr>
      </div>
    {% endfor %}
  </div>
</body>

<script>
function refresh()
{
  var req=new XMLHttpRequest();
  req.onreadystatechange = function(){
    if(this.readyState == 4 && this.status == 200){
      var data = JSON.parse(this.responseText);
      var i;
      for(i = 0; i<8; i++){
        document.getElementById("ip"+i).innerHTML = data.devices[i].ip;
        document.getElementById("uid"+i).innerHTML = data.devices[i].id;
        document.getElementById("temp"+i).innerHTML = data.devices[i].temperature;  
        document.getElementById("humid"+i).innerHTML = data.devices[i].humidity;
        document.getElementById("alarm"+i).innerHTML = data.devices[i].alarm;
      }
    }
  }  
  req.open("GET", "/refresh", true);
  req.send();
}

setInterval(refresh, 5000);
</script>
